*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  position: relative;
  height: auto;
  background: #070707;
  color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section {
  padding: 2.4em;
  scroll-margin-top: 76px;
}
.section__heading {
  margin: 1em;
  text-align: center;
  font-size: 3rem;
  text-shadow: #e79600 0px 0px 7px;
}
.section__heading-text {
  padding: 0.4em;
  margin: 1.2em 0;
  text-align: center;
  font-size: 1.8rem;
}

.hoverEffect {
  border: 1px solid transparent;
  border-radius: 8px;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
}
.hoverEffect:hover {
  color: #e79600;
  border-color: #e79600;
  box-shadow: #e79600 0 0 5px;
}

.btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: none;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: #000000 0 5px 5px;
  z-index: 100;
}
.nav__logo {
  margin: 0.2em;
  padding: 0.5em;
  height: 60px;
}
.nav__logo > img {
  width: 100%;
  height: 100%;
}
.nav__burger-btn {
  margin: 0.6em;
  padding: 0.8em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.nav__burger-btn:focus {
  outline: none;
  border-color: #e79600;
}
.nav__burger-icon {
  height: 34px;
}
.nav__items-desktop {
  display: none;
}
.nav__items-mobile {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 45%;
  min-height: 400px;
  width: 45%;
  min-width: 180px;
  max-width: 300px;
  transform: translateY(-110%);
  transition: transform 0.6s;
  background-color: #ffffff;
  box-shadow: #000000 -5px 5px 5px;
}
.nav__items-mobile--active {
  transform: translateY(-2%);
}
.nav__item-mobile {
  font-size: 2rem;
  margin: 0.3em;
  padding: 0.7em;
  width: 80%;
  text-decoration: none;
  color: #000000;
  text-align: center;
  border: 1px solid transparent;
  transition: border 0.3s;
}
.nav__item-mobile:hover {
  color: #e79600;
  border-color: #e79600;
  border-radius: 8px;
  box-shadow: #e79600 0 0 3px;
}
.nav__item-mobile:first-child {
  margin-top: 1em;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 60vh;
  min-height: 450px;
  width: 100%;
  background-image: url("../img/heros/hero_small.webp");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.header__baner {
  width: 100%;
  max-width: 450px;
  margin-bottom: 3em;
}
.header__text {
  margin-top: 0.6em;
  font-size: 1.8rem;
  text-shadow: #e79600 0px 0px 2px;
}
.header__text-box {
  font-weight: bold;
  border: 1px solid #ffffff;
  padding: 1em;
  box-shadow: #ffffff 0 0 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__text-heading {
  font-size: 2.2rem;
  text-shadow: #e79600 0px 0px 10px;
}
.header__check-link {
  position: absolute;
  bottom: 1.6em;
  padding: 0.6em;
  font-size: 2rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.header__check-link:hover {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -5;
}

.rooms_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rooms__span {
  color: #e79600;
  font-weight: bold;
}
.rooms__card {
  position: relative;
  margin-top: 4em;
  padding: 0.6em 0.6em 4em;
  width: 100%;
  max-width: 450px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: #e79600 0px 0px 8px;
}
.rooms__card-name {
  margin: 0.4em;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 2.6rem;
  text-shadow: red 1px 1px 6px;
}
.rooms__card-img {
  margin: 0.6em 0;
  width: 100%;
}
.rooms__card-text {
  margin-bottom: 0.4em;
}
.rooms__card-star {
  filter: invert(64%) sepia(90%) saturate(3242%) hue-rotate(10deg) brightness(102%) contrast(101%);
  height: 1.6rem;
}
.rooms__card-btn {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.4em;
  font-size: 1.8rem;
}

.voucher {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  background-image: url("../img/heros/hero_voucher_small.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.voucher__heading-box {
  padding: 1em 0.2em;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.voucher__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.voucher__card {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  width: 100%;
  max-width: 550px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  text-align: center;
}
.voucher__card-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0.8em;
  border-radius: 8px;
}
.voucher__card-key-lock {
  width: 60px;
}
.voucher__card-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.2em 0.8em;
  width: 60%;
  text-align: center;
  font-size: 1.7rem;
}
.voucher__card-text {
  margin-bottom: 0.7em;
}
.voucher__card-text:not(:last-child) {
  font-weight: bold;
}
.voucher__card-text:last-child {
  margin-top: 1em;
}
.voucher__card:nth-of-type(1) {
  border-color: #8a8079;
  box-shadow: #8a8079 0 0 5px;
}
.voucher__card:nth-of-type(1) > :first-child {
  background-color: rgba(138, 128, 121, 0.6);
}
.voucher__card:nth-of-type(2) {
  border-color: #546634;
  box-shadow: #546634 0 0 5px;
}
.voucher__card:nth-of-type(2) > :first-child {
  background-color: rgba(84, 102, 52, 0.6);
}
.voucher__card:nth-of-type(3) {
  border-color: #4B0000;
  box-shadow: #4B0000 0 0 5px;
}
.voucher__card:nth-of-type(3) > :first-child {
  background-color: rgba(75, 0, 0, 0.6);
}
.voucher__card:nth-of-type(4) {
  border-color: #4d7c9f;
  box-shadow: #4d7c9f 0 0 5px;
}
.voucher__card:nth-of-type(4) > :first-child {
  background-color: rgba(77, 124, 159, 0.6);
}
.voucher__card:nth-of-type(5) {
  border-color: #2b4049;
  box-shadow: #2b4049 0 0 5px;
}
.voucher__card:nth-of-type(5) > :first-child {
  background-color: rgba(43, 64, 73, 0.6);
}

.swiper-button-next, .swiper-button-prev {
  top: 90%;
  bottom: 0;
  color: #e79600;
  --swiper-navigation-size: 30px;
}
.swiper-pagination-bullet {
  background: #acacac;
}
.swiper-pagination-bullet-active {
  background: #e79600;
}

.reviews {
  padding: 4em 2em;
  position: relative;
  background-image: url("../img/heros/reviews_hero_small.webp");
  background-position: center;
  background-size: cover;
}
.reviews__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.4em;
  padding: 1.6em 0.8em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}
.reviews__box-quote {
  margin-bottom: 0.9em;
  font-style: italic;
  line-height: 1.2;
}
.reviews__box-author {
  color: #acacac;
  margin-bottom: 0.4em;
}
.reviews__box-room-name {
  font-size: 1.4rem;
  font-style: italic;
  color: #acacac;
}

.media__yt-films {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.6em;
  margin-top: 3em;
}
.media__yt-film {
  aspect-ratio: 16/9;
  width: 90%;
  box-shadow: #e79600 0 0 10px;
}

.contact {
  background-color: #ffffff;
  color: #000000;
}
.contact h2 {
  text-shadow: none;
}
.contact__box-map {
  width: 100%;
  box-shadow: #000000 0 0 5px;
}
.contact__box-map-iframe {
  width: 100%;
  height: 300px;
}
.contact__box-text {
  margin-top: 1em;
  width: 100%;
}
.contact__box-text > a {
  color: blue;
}
.contact__text:nth-of-type(1), .contact__text:nth-of-type(4) {
  margin-top: 0.6em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .nav__logo {
    margin: 0.4em 1em;
    height: 80px;
  }
  .section {
    padding: 3.4em 2.4em;
    scroll-margin-top: 86px;
  }
  .header {
    background-image: url("../img/heros/hero_medium.webp");
  }
  .voucher {
    background-image: url("../img/heros/hero_voucher_medium.webp");
  }
  .reviews {
    background-image: url("../img/heros/reviews_hero_medium.webp");
  }
  .media__yt-film {
    margin-bottom: 3em;
  }
}
@media (min-width: 992px) {
  .nav__burger-btn {
    display: none;
  }
  .nav__items-mobile {
    display: none;
  }
  .nav__items-desktop {
    display: flex;
  }
  .nav__item-desktop {
    position: relative;
    padding: 0.6em;
    margin: 0.2em;
    font-size: 2.2rem;
    color: #000000;
  }
  .nav__item-desktop:hover, .nav__item-desktop--active {
    color: #A36A00;
  }
  .nav__item-desktop::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #A36A00;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }
  .nav__item-desktop:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .section__heading {
    font-size: 4rem;
  }
  .section__heading-text {
    font-size: 2.2rem;
  }
  .header > .wrapper {
    max-width: 900px;
  }
  .header__text-heading {
    font-size: 2.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .rooms__card {
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .rooms__card-name {
    font-size: 3.2rem;
  }
  .rooms__card-img {
    padding: 0.6em;
    width: 300px;
    height: 300px;
  }
  .rooms__card-details {
    padding: 0.8em;
    font-size: 1.8rem;
  }
  .rooms__card-text {
    margin-bottom: 0.6em;
    line-height: 1.4;
  }
  .rooms__card-btn {
    padding: 0.6em;
    font-size: 2rem;
  }
  .voucher__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .voucher__card {
    width: 45%;
  }
  .voucher__card-bot {
    margin: 1.6em 1.2em;
  }
  .voucher__card-text {
    font-size: 2rem;
  }
  .reviews {
    min-height: 500px;
  }
  .reviews > .wrapper {
    max-width: 950px;
  }
  .reviews__box {
    font-size: 1.8rem;
  }
  .reviews__box-room-name {
    font-size: 1.6rem;
  }
  .media__yt-film {
    margin-bottom: 5em;
    max-width: 800px;
  }
  .contact__text {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .header {
    background-image: url("../img/heros/hero_big.webp");
  }
  .voucher {
    background-image: url("../img/heros/hero_voucher_big.webp");
  }
  .reviews {
    background-image: url("../img/heros/reviews_hero_big.webp");
  }
}/*# sourceMappingURL=style.css.map */