$black: #000000;
$white: #ffffff;
$grey: #acacac;
$main: #e79600;
$secondary: #A36A00;
$background: #070707;
$shadow: #000000;
$room1: #8a8079;
$room2: #546634;
$room3: #4B0000;
$room4: #4d7c9f;
$room5: #2b4049;
