@media (min-width: 1200px) {
	.header {
		background-image: url('../img/heros/hero_big.webp');
	}

	.voucher {
		background-image: url('../img/heros/hero_voucher_big.webp');
	}

	.reviews {
		background-image: url('../img/heros/reviews_hero_big.webp');
	}
}
